.contains-task-list .task-list-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.task-list-item-checkbox + .internal-embed.is-loaded {
  margin-top: -1.5em;
  display: block;
}

.task-list-item-checkbox + .internal-embed.is-loaded .markdown-embed {
  padding: 0;
  margin: 0;
}

.task-list-item-checkbox + .internal-embed.is-loaded .markdown-embed {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list-item-checkbox + .internal-embed.is-loaded .markdown-embed-content {
}
.task-list-item-checkbox
  + .internal-embed.is-loaded
  .markdown-embed-content
  p:first-child {
  margin: 0;
}

.task-list-item-checkbox + .internal-embed.is-loaded .markdown-preview-view {
  padding: 0;
  margin: 0;
}
